# ── NERIC Backend .gitignore ──

# Virtual Environment
venv/
ENV/
env/

# Sensitive Data (Kunci database & token)
.env

# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Binary Executables (PENTING: Biar influxdb3.exe gak ikut ke-up)
*.exe
*.dll
*.so
*.dylib

# InfluxDB 3 OSS Installer & Data
python/
influxdb3-core*/
influxdb3_data/
*.wal
*.parquet
*.snapshot

# Dataset (Biarkan user download sendiri dari Kaggle)
traffic.csv
*.csv

# IDE & Editor Files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# InfluxDB Licenses (Terbawa dari folder installer)
LICENSE-APACHE
LICENSE-MIT

# Mosuitto Broker
Mosquitto/

# Aset Gambar / Screenshots (Tambahkan ini jika TIDAK mau di-push)
*.png
*.jpg
*.jpeg


# Blokir total semua file 3D di folder mana pun
**/*.glb
**/*.fbx
**/*.blend
**/*.blend1

# yes
jakarta-java-indonesia/